@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("Images/Foto123.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: visible;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(39, 39, 39, 0.4);
}

/* Navigation Bar */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    line-height: 100px;
    background: rgba(255, 255, 255, 0.2); 
    z-index: 100;
    align-items: center;
    backdrop-filter: blur(8px);
}

.nav-hidden {
    transform: translateY(-100%);
}

.nav-logo p {
    font-size: 25px;
    font-weight: 600;
    background: -webkit-linear-gradient(#f53232, #070000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover, .active {
    border-bottom: 2px solid #fff;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 0, 0, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    background: rgba(236, 236, 236, 0.3);
}

.btn.white-btn {
    background: rgba(255, 249, 249, 0.7);
}

.btn.btn.white-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

.nav-menu-btn {
    display: none;
}

.box1 .top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}

header {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

/* Responsive Navigation */
@media only screen and (max-width: 786px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn {
        display: block;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}

.container {
    padding-inline: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 25px;
}

/* Scrollbar */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background-color: hsl(0, 0%, 57%); }
::-webkit-scrollbar-thumb { background-color: hsl(0, 20%, 99%); }
::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 22%); }
:focus-visible { outline-offset: 4px; }

/* Footer */
.footer {
    padding-block: 30px;
}

.copyright {
    font-size: 15px;
    text-align: center;
    color: black;
}

.copyright-link {
    color: maroon;
    font-weight: var(--fw-500);
    display: inline-block;
}

/* Course Section */
.courses-container {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.course {
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(218, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 40px;
    overflow: hidden;
    width: 700px;
}

.course-preview {
    background-color: #b5b1f0;
    color: #070000;
    padding: 40px;
    max-width: auto;
}

/* Responsive Course */
@media screen and (max-width: 768px) {
    .course {
        flex-direction: column; 
        width: 90%; 
        max-width: 100%; 
        margin: 10px auto; 
        padding: 15px;
    }

    .course-preview {
        max-width: 100%; 
        padding: 20px;
        text-align: center; 
        margin-bottom: 10px;
    }
}

/* butonat per grupte gjakut */
button {
    background-color: red; 
    color: white; 
    font-size: 8px; 
    font-weight: bold;
    padding: 10px 20px; /* madshia e butonit */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease; 
}

button:hover {
    background-color: #ff6666; 
    transform: scale(1.1); 
}


.card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #b5b1f0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
}

.card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}

.card-local {
    font-size: 16px;
    margin: 10px 0;
}

.card-title {
    font-size: 30px;
    margin: 15px 0;
}

.card-text {
    font-size: 16px;
    width: 250px;
    margin: 0 auto;
    color: #000000;
}


.card:hover {
    transform: scale3d(1.1, 1.1, 1);
}
