/* Google fontet e importuara me posht */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("Images/Foto123.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.form-container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}



label {
    font-weight: bold;
}




